{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Home' %} - {{ block.super }}{% endblock %}

{% block head %}
{{ block.super }}
<script type="text/javascript" src="{{ MEDIA_URL }}js/login.js"></script>
<link rel="stylesheet" href="{{ MEDIA_URL }}css/projects.css" />
{% endblock %}

{% block content %}
<div id="project">
<form method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="{% trans 'Submit' %}">
</form>
{% for project in projects %}
{{ project.name }} - {{ project.owner }} - {{ project.get_url }}<br/>

{% endfor %}
</div>
{% endblock %}
