{% extends 'project/base.html' %}
{% load i18n %}

{% block title %}{{ project.name }} - {% trans 'Board' %} - {{ block.super }}{% endblock %}

{% block head %}
{{ block.super }}
<style>
#phases {
    border: 1px solid blue;
    overflow: auto;
}
.phase {
    border:1px solid black;
    float:left;
}
.phase-name {
    text-align: center;	
}
.stories {
    min-height: 30px;
}
.story {
    background: #CCC;
    min-height: 75px;
    margin: 10px 5px;
}
.story.disabled {
    opacity: 0.4;
}
.story-header {
    height: 18px;
    padding: 0 7px
}
.story-name {
    margin: 5px 7px;
    overflow: hidden;
}
.ui-state-highlight.story-placeholder {
    height: 40px;
}

</style>
<script type="text/javascript">
var PHASES_NUMBER = {{ project.phases.all.count }};
var PROJECT_ID = {{ project.id }};
$(function(){
    $(window).resize(function(){
        var phase_width = Math.floor($('#phases').width() / PHASES_NUMBER - 2); 
        $('.phase').width(phase_width);
        $('#phases').height($(window).height() - 105);
    }).resize();
	
    $('.stories').sortable({
        connectWith: ".stories",
        distance: 15,
        revert: true,
        opacity: 0.9,
        placeholder: "ui-state-highlight story-placeholder",
        containment: '#phases',
        stop: function(event, ui){
            var $element = $(ui.item)
            var number = $element.attr('data-number')
            var index = $element.parent().children().index(ui.item);
            var phase = $element.parent().parent().attr('data-id');
            $.ajax({
                url: '/project/' + PROJECT_ID + '/story/' + number + '/move',
                type: 'post',
                data: {
                    phase: phase,
                    index: index
                },
                dataType: 'json',
                success: function(response){
                }
            });
        }
    }).disableSelection()
    
    $('.story-name').dblclick(function(){
        var $this = $(this);
        var text = $.trim($this.text());
        var $textarea = $('<textarea/>').val(text).blur(function(){
            var $this = $(this);
            var number = $this.parent().parent().attr('data-number')
            var text = $.trim($this.val());
            $this.parent().text(text);
            $.ajax({
                url: '/project/' + PROJECT_ID + '/story/' + number + '/edit',
                type: 'post',
                data: {
                    name: text
                },
                dataType: 'json',
                success: function(response){
                }
            });
        })
        $this.html($textarea);
        $textarea.focus();
    });
    
    $("#add-story-dialog").dialog({
        height: 600,
        width: 480,
        draggable: false,
        autoOpen: false,
        modal: true,
        title: 'Add story',
        close: function(){
            $('#add-story-form-errors').hide();
            $('#add-story-dialog form')[0].reset();
        }
    });
    
    $('#add-story-dialog form').submit(function(){
        var $this = $(this);
        $.ajax({
            url: $this.attr('action'),
            type: $this.attr('method'),
            data: $this.serialize(),
            dataType: 'json',
            success: function(response){
                if(response.success){
                    $('#add-story-dialog').dialog('close');
                } else {
                    $('#add-story-form-errors').show()
                    $('#add-story-form-errors .errors').html('<br/>')
                    $.each(response.error, function(index, value){
                        $('#add-story-form-errors .errors').append(index + ": " + value + '<br/>')
                    })
                    
                }
            }
        });
        return false;
    });
});
</script>
{% endblock %}

{% block content %}
<a href="javascript:$('#add-story-dialog').dialog('open')">{% trans 'Add story' %}</a>

<div id="phases">
    {% for phase in project.phases.all %}
    <div class="phase" data-id="{{ phase.id }}">
    	<div class="phase-name">{{ phase.name }}</div>
        <div class="stories">
    	{% for story in phase.stories.all.select_related %}
            <div class="story" data-number="{{ story.number }}">
                <div class="story-header ui-state-default">
                    <a href="{{ story.get_url }}">{{ story.number }}</a>
                    {{ story.owner|default:'' }}
                </div>
                <div class="story-name">
                    {{ story.name }}
                </div>
            </div>
    	{% endfor %}
    	</div>
    </div>
    {% endfor %}
</div>

<div id="add-story-dialog">
    <form method="post" action="{% url agile_story_add project.id %}">
        <div id="add-story-form-errors" class="ui-state-error ui-corner-all">
            <span class="ui-icon ui-icon-alert"></span>
            <strong>{% trans 'Error!' %}</strong>
            {% trans 'Validation errors:' %}<br/>
            <div class="errors"></div>
        </div>
        {{ story_form.as_p }}
        <input type="submit" value="{% trans 'Submit' %}">
    </form>
</div>
{% endblock %}
