*.log
*.pyc
*.pyo
*.pid
*.swo
*.swp
*.sw_
.tmp_*
*/.tmp_*
.DS_Store
.env
.svn
defaults.json
erl_crash.dump
local_settings.py
nohup.out
bmanage.py
*.un~
tags
.ve/
.project
.pydevproject
.coverage
.reqtimestamp
reports/
nbproject/
.reqtimestamp
*.prof
org.eclipse.core.resources.prefs
models.png
