body {
	background: #f0f0f0;
}

* {
	margin: 0;
	padding: 0;
	outline: none;
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, Tahoma, sans-serif;
}

#header {
	padding: 14px 21px;
	height: 24px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#d0d0d0));
    background-image: -moz-linear-gradient(270deg, #f7f7f7, #d0d0d0);
}

#name {
    color: blue;
    text-shadow: #fff 0px 1px 0, #000 0 -1px 0;
    font-size: 22px;
    display: inline;
}

ul#topmenu {
	list-style: none;
	position: absolute;
    top: 14px;
    right: 0px;
}

ul#topmenu li {
    padding: 0 3px;
    margin: 0 2px;
    float: left;
    font-size: 12px;
}

ul#topmenu li a:link, ul#topmenu li a:visited {
    color: #555;
    text-decoration:none;
    font-weight: bold;
}
ul#topmenu li a:hover {
    text-decoration:underline;
}

ul#topmenu img {
    border: 1px solid #000;
    margin-top: -12px;
    margin-left: 10px;
}

#content {
    padding: 12px;
}
#login {
    margin-top: -13px;
    text-align: center;
}
form {
    margin: 0 auto;
    width: 300px;
    padding-top: 40px;
    padding-bottom: 80px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #CCC;
    background-color: #F5F5EF;
    -moz-border-radius-bottomright: 30px;
    border-bottom-right-radius: 30px;
    -moz-border-radius-bottomleft: 30px;
    border-bottom-left-radius: 30px;
}
form label {
    margin-top: 10px;
    padding-bottom: 2px;
    color: #000;
    display: block;
    font-size: 12px;
    text-align:left;
}
form input[type="text"], form input[type="password"] {
    width: 100%;
    /*margin-top: 9px;*/
    border: 2px solid #F0F0F0;
    font-size: 15px;
    height: 35px;
    padding: 3px;
}
form input[type="submit"] {
    margin-top: 30px;
    /*width: 75px;*/
    float:right;
}
form select {
    width: 100%;
}
form textarea {
    width: 100%;
    border: 2px solid #F0F0F0;
    font-size: 15px;
    padding: 3px;
}
span.error {
    font-size: 12px;
    color: red;
}


/**/

#gravatar {
    float:right;
}

.ui-state-highlight {
    padding: .7em;
    font-size: 12px;
}

.ui-state-highlight span.ui-icon.ui-icon-info {
    float: left;
    margin-right: .3em;
}
