{% extends 'agile/base.html' %}
{% load i18n %}

{% block title %}{{ project.name }} - {% trans 'Board' %} - {{ block.super }}{% endblock %}

{% block menu_stories %}<li class="barmenu-item ui-state-default current"><a href="{{ project.get_url }}">{% trans 'Stories' %}</a></li>{% endblock %}

{% block menu_elements %}
{{ block.super }}
<li class="barmenu-add barmenu-item ui-state-default"><a id="add-story" href="javascript:;">{% trans 'Add story' %}</a></li>
{% endblock %}

{% block css %}
{{ block.super }}
<style type="text/css">
#phases {
 border: 1px solid #CCC;
 overflow: auto;
 padding: 9px;
 border-radius: 5px;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
}
.phase {
 border: 0px solid black;
 float:left;
}
.phase-name {
 text-align: center;
 padding: 10px 0 7px 0;
 font-size: 120%;
}
.stories {
 min-height: 30px;
 padding: 0 5px;
}
.story {
 min-height: 75px;
 margin: 10px 5px;
 border-radius: 5px;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
}
.story.disabled {
 opacity: 0.4;
}
.story-header {
 cursor: move;
 padding: 2px 7px;
 margin: 2px;
 border-radius: 4px;
 -moz-border-radius: 4px;
 -webkit-border-radius: 4px;
}
.story-name {
 margin: 5px 7px;
 overflow: hidden;
 font-size: 75%
}
.story-owner {
 float: right;
 font-size: 60%;
}
.ui-state-highlight.story-placeholder {
 margin: 10px 5px;
}
.story-header a .ui-icon {
 float: left;
 padding-right: 2px;
 display: none;
}
.story:hover .story-header a .ui-icon {
 display: inline;
}
.story-owner img {
 margin-left: 5px;
}
.story-owner-name {
 padding: 4px 0;
 float: left;
}
span.ui-icon {
 float: left;
 margin-right: 7px;
}
.phase-toggle {
 font-size: 10px;
 font-weight: bold;
 padding: 6px 10px;
 margin-top: -3px;
 cursor: pointer;
}
.left-hide,
.left-shows {
 float: left;
 margin-left: 5px;
}
.right-hide,
.right-shows {
 float: right;
 margin-right: 5px;
}
</style>
{% endblock %}
{% block javascript %}
{{ block.super }}
<script type="text/javascript">
var PROJECT_URL = '{{ project.get_base_url }}';
var USER_ID = {{ user.id }};
$(function(){
    $(window).resize(function(){
        var phases_number = $('.phase:visible').length; 
        var phase_width = Math.floor($('#phases').width() / phases_number - 5);
        $('#phases').height($(window).height() - 105); 
        $('.phase').width(phase_width);
        
        var min_height = 0;
        $('.phase').each(function(){
            var height = $(this).height();
            if(height > min_height)
                min_height = height;
        }).css('min-height', min_height);
    }).resize();

    /* Sortable Stories */
    $('.stories').sortable({
        connectWith: ".stories",
        distance: 15,
        revert: true,
        opacity: 0.9,
        placeholder: "ui-state-highlight story-placeholder",
        handle: '.story-header',
        containment: '#phases',
        stop: function(event, ui){
            var $element = $(ui.item);
            var number = $element.attr('data-number');
            var index = $element.parents('.stories').children().index(ui.item);
            var phase = $element.parents('.phase').attr('data-id');
            move_story(number, phase, index);
        },
        start: function(event, ui){
            var height = $(ui.item).height();
            // because margin top and bottom = 10px
            // and the borders take 4 pixels
            $('.story-placeholder').height(height - 20 + 4); 
        }
    }).disableSelection()

    $('.story-name.story-markdown').live('dblclick', function(){
        var $this = $(this);
        var text = $.trim($this.text());
        var $textarea = $('<textarea/>').val(text).blur(function(){
            var $this = $(this);
            var number = $this.parents('.story').attr('data-number')
            var text = $.trim($this.val());
            $this.parent().text(text);
            $.ajax({
                url: PROJECT_URL + '/story/' + number + '/edit',
                type: 'post',
                data: {
                    name: text
                },
                dataType: 'json',
                success: function(response){
                    // TODO: confirmation message
                }
            });
        })
        $this.html($textarea);
        $textarea.focus();
    });

    $("#add-story-dialog").dialog({
        width: 370,
        autoOpen: false,
        modal: true,
        resizable: false,
        title: gettext('Add story'),
        close: function(){
            $('#add-story-form-errors').hide();
            $('#id_phase, #id_owner').selectmenu('value', '');
            $('#id_creator').selectmenu('value', USER_ID);
            
            $('#add-story-dialog form')[0].reset();
        }
    });
    
    $('#add-story-dialog form').submit(function(){
        var $this = $(this);
        $.ajax({
            url: $this.attr('action'),
            type: $this.attr('method'),
            data: $this.serialize(),
            dataType: 'json',
            success: function(response){
                if(response.success){
                    $('#add-story-dialog').dialog('close');
                    var $story = $(response.html);
                    $('.stories:nth(' + response.phase_index + ')').append($story).sortable('refresh');
                } else {
                    $('#add-story-form-errors').show()
                    $('#add-story-form-errors .errors').html('<br/>')
                    $.each(response.error, function(index, value){
                        $('#add-story-form-errors .errors').append(index + ": " + value + '<br/>')
                    })
                    
                }
            }
        });
        return false;
    });
    
    $('#add-story').click(function(){
        $('#add-story-dialog').dialog('open');
    });
    
    $('.left-hide').click(function(){
        var $current_phase = $(this).parent().parent();
        var $next_phase = $current_phase.next();
        var current_phase_name = $current_phase.find('label').text();
        $current_phase.hide();
        $next_phase.find('div.phase-name').prepend('<div class="phase-toggle left-shows ui-state-hover">' + current_phase_name + '&nbsp;&gt;&gt;<div>')
        $(window).resize();
    });

    $('.left-shows').live('click', function(){
        var $current_phase = $(this).parent().parent();
        var $prev_phase = $current_phase.prev();
        $prev_phase.show();
        $(window).resize();
        $(this).remove();
    });
    $('.right-hide').click(function(){
        var $current_phase = $(this).parent().parent();
        var $prev_phase = $current_phase.prev();
        var current_phase_name = $current_phase.find('label').text();
        $current_phase.hide();
        $prev_phase.find('div.phase-name').prepend('<div class="phase-toggle right-shows ui-state-hover"><label>&lt;&lt;&nbsp;' + current_phase_name + '</label><div>')
        $(window).resize();
    });

    $('.right-shows').live('click', function(){
        var $current_phase = $(this).parent().parent();
        var $next_phase = $current_phase.next();
        $next_phase.show();
        $(window).resize();
        $(this).remove();
    });
    $('.left-hide').click();
    $('.right-hide').click();
});
</script>
{% endblock %}

{% block content %}
{{ block.super }}

<div id="phases">
    {% for phase in project.phases.all %}
    <div class="phase" data-id="{{ phase.id }}">
        <div class="phase-name ui-state-default">
            {% if phase.is_backlog %}
                <div class="phase-toggle left-hide ui-state-hover">&lt;&lt;</div>
            {% endif %}
            <label>{{ phase.name }}</label>
            {% if phase.is_archive %}
                <div class="phase-toggle right-hide ui-state-hover">&gt;&gt;</div>
            {% endif %}
        </div>
        <div class="stories">
        {% for story in phase.stories.all.select_related %}
            {% include 'agile/project/story.html' %}
        {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

<div id="add-story-dialog">
    <form method="post" action="{% url agile_story_add project.id %}">
        <div id="add-story-form-errors" class="ui-state-error ui-corner-all">
            <span class="ui-icon ui-icon-alert"></span>
            <strong>{% trans 'Error!' %}</strong>
            {% trans 'Validation errors:' %}<br/>
            <div class="errors"></div>
        </div>
        {{ story_form.as_p }}
        <input type="submit" value="{% trans 'Submit' %}">
    </form>
</div>
{% endblock %}
