{% load i18n gravatar %}
<div class="story ui-widget-content" data-number="{{ story.number }}">
    <div class="story-header ui-state-default">
        <a href="{{ story.get_url }}">
            <span class="ui-icon ui-icon-search"></span>
            <strong><div class="story-name story-markdown">
                {{ story.number }}
            </div></strong>
        </a>
        :&nbsp;{{ story.name }}
        <div class="story-owner">
            {% if story.owner %}
                <span class="story-owner-name">{{ story.owner.agile_get_name }}</span>
                {% gravatar story.owner 16 %}
            {% else %}
                <span class="story-owner-name">{% trans 'Not assigned' %}</span>
            {% endif %}
        </div>
    </div>
    {% if story.tasks.exists %}
        <div class="story-name"><span class="ui-icon ui-icon-clipboard"></span>{% trans 'Tasks' %}: {{ story.tasks.get_formatted_count }}</div>
    {% endif %}
    {% if story.comments.exists %}
        <div class="story-name"><span class="ui-icon ui-icon-comment"></span>{% trans 'Comments' %}: {{ story.comments.count }}</div>
    {% endif %}
</div>