{% load i18n %}
{% load gravatar %}
<html>
    <head>
        {% block head %}
        <title>{% block title %}AgileDjango{% endblock %}</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/themes/smoothness/jquery-ui.css" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/agile.css" />
        <script type="text/javascript">
            $(function(){
                $('input[type=submit]').addClass('ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only')
                $('html').ajaxSend(function(event, xhr, settings) {
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                });
            })
        </script>
        {% endblock %}
    </head>
    <body>
        <div id="header">
            <span id="name">AgileDjango</span>
            <ul id="topmenu">
                {% if user.is_authenticated %}
                <li>{{ user.get_full_name }}</li>
                <li>|</li>
                {% endif %}
                <li><a href='{% url agile_index %}'>{% trans 'Home' %}</a></li>
                {% if not user.is_authenticated %}
                <li><a href='{% url agile_login %}'>{% trans 'Login' %}</a></li>
                <li><a href='{% url agile_signup %}'>{% trans 'Signup' %}</a></li>
                {% else %}
                <li><a href='{% url agile_projects %}'>{% trans 'Projects' %}</a></li>
                <li><a href='{% url agile_profile %}'>{% trans 'Profile' %}</a></li>
                <li><a href='{% url agile_logout %}'>{% trans 'Logout' %}</a></li>
                <li>{% gravatar user 45 %}</li>
                {% endif %}
            </ul>
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
