{% load i18n gravatar %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        {% block head %}
        <title>{% block title %}AgileDjango{% endblock %}</title>
        {% block javascript %}
        <script type="text/javascript" src="{% url agile_js_translations %}"></script>
        <script type="text/javascript" src="{% if USE_CDN %}https://ajax.googleapis.com/ajax/libs/{% else %}{{ MEDIA_URL}}{% endif %}agile/jquery/1.5.2/jquery.min.js"></script>
        <script type="text/javascript" src="{% if USE_CDN %}https://ajax.googleapis.com/ajax/libs/{% else %}{{ MEDIA_URL}}{% endif %}agile/jqueryui/1.8.12/jquery-ui.min.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL}}agile/jqueryui/selectmenu/jquery.ui.selectmenu.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}agile/js/agile.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}agile/js/dialog_message.js"></script>
        {% endblock %}
        {% block css %}
        <link rel="stylesheet" href="{% if USE_CDN %}https://ajax.googleapis.com/ajax/libs/{% else %}{{ MEDIA_URL}}{% endif %}agile/jqueryui/1.8.12/themes/{{ user.agile_userprofile.jquery_ui_theme|default:'cupertino' }}/jquery-ui.css" />
        <link rel="stylesheet" href="{{ MEDIA_URL}}agile/jqueryui/selectmenu/jquery.ui.selectmenu.css"/>
        <link rel="stylesheet" href="{{ MEDIA_URL }}agile/css/agile.css" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}agile/css/dialog_message.css" />
        {% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block error_message %}
            <div id="agile-error-message" style="font-size: 12px;">
                <div id="agile-message"></div>
            </div>
        {% endblock %}
        <div id="header" class="ui-widget-header">
            <span id="name">AgileDjango</span>
            <ul id="topmenu">
                {% if user.is_authenticated %}
                    <li>
                    {{ user.agile_get_name }}
                    </li>
                <li>|</li>
                {% endif %}
                <li><a href='{% url agile_index %}'>{% trans 'Home' %}</a></li>
                {% if not user.is_authenticated %}
                <li><a href='{% url agile_login %}'>{% trans 'Login' %}</a></li>
                <li><a href='{% url agile_signup %}'>{% trans 'Signup' %}</a></li>
                {% else %}
                <li><a href='{% url agile_projects %}'>{% trans 'Projects' %}</a></li>
                <li><a href='{% url agile_profile %}'>{% trans 'Profile' %}</a></li>
                <li><a href='{% url agile_logout %}'>{% trans 'Logout' %}</a></li>
                <li>{% gravatar user 45 %}</li>
                {% endif %}
            </ul>
        </div>
        <div id="wrapper">
            {% block wrapper %}
                {% block menu %}{% endblock %}
                <div id="content">{% block content %}{% endblock %}</div>
            {% endblock %}
        </div>
    </body>
</html>
