{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Login' %} - {{ block.super }}{% endblock %}

{% block head %}
{{ block.super }}
<script type="text/javascript" src="{{ MEDIA_URL }}js/login.js"></script>
{% endblock %}

{% block content %}
<div id="login">
<form method="post">
{% if error %}
<span class="error" style="display:none;">{% trans 'Incorrect username and/or password.' %}</span>
{% endif %}
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="{% trans 'Login' %}"/>
</form>
</div>
{% endblock %}
