body {
 background: #f0f0f0;
}

* {
 margin: 0;
 padding: 0;
 outline: none;
 font-family: "Lucida Grande", Verdana, Helvetica, Arial, Tahoma, sans-serif;
 letter-spacing: 1px;
}

#header {
 padding: 20px 21px;
 height: 25px;
}

#name {
 text-shadow: #3d3d3d 0 -1px 0, #e7e7e7 0 1px 0;
 font-size: 22px;
 float: left;
 text-decoration: none;
}

ul#topmenu {
 list-style: none;
 float: right;
}

ul#topmenu li,
ul#bar-menu li {
 float: left;
 font-size: 12px;
 margin-right: 5px;
}

ul#topmenu li.topmenu-item,
ul#bar-menu li.barmenu-item {
 padding: 6px 10px;
 border-radius: 5px;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
}

li.barmenu-add {
 margin-left: 20px;
}

ul#topmenu li a:link, ul#topmenu li a:visited {
 text-decoration:none;
 font-weight: bold;
}

ul#topmenu img {
 border: 1px solid #000;
 margin-top: -12px;
 margin-left: 10px;
 padding: 1px;
 background: white;
}

#content {
 padding: 12px;
}
#login {
 margin-top: -13px;
 text-align: center;
}
form {
 margin: 0 auto;
 width: 300px;
 padding: 10px 10px 55px;
}
form label {
 margin-top: 10px;
 padding-bottom: 7px;
 display: block;
 font-size: 12px;
 text-align:left;
}
form input[type="text"],
form input[type="password"],
form textarea {
 color: #444;
 width: 100%;
 border: 1px solid #dedede;
 padding: 5px;
 border-radius: 5px;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 background-color: #fbfbfb;
}
form input[type="submit"] {
 margin-top: 10px;
 float:right;
}
form select {
 width: 100%;
}
span.error {
 font-size: 12px;
 color: red;
}


/**/

#gravatar {
 float:right;
}

.ui-state-highlight, .ui-state-error {
 padding: .7em;
 font-size: 12px;
}

.ui-state-highlight span.ui-icon.ui-icon-info,
.ui-state-error span.ui-icon.ui-icon-alert {
 float: left;
 margin-right: .3em;
}
.ui-widget {
 font-size: 85%;
}

#add-story-form-errors {
 display: none; 
}

ul#bar-menu {
 list-style: none;
 height: 20px;
 padding: 5px 15px 15px;
}
/*ul#bar-menu li {
 float: left;
 padding: 0 4px;
}*/
ul#bar-menu li a {
 font-size: 12px;
 text-decoration: none;
}
ul#bar-menu li.current a {
 font-weight: bold;
}
