{% extends 'base.html' %}
{% load i18n %}

{% block menu %}
<ul id="bar-menu" class="ui-state-active">
    {% block menu_elements %}
        {% block menu_details %}<li class="barmenu-item ui-state-default"><a href="{{ project.get_details_url }}">{% trans 'Details' %}</a></li>{% endblock %}
        {% block menu_stories %}<li class="barmenu-item ui-state-default"><a href="{{ project.get_url }}">{% trans 'Stories' %}</a></li>{% endblock %}
        {% if user.is_superuser %}
            {% block menu_phases %}<li class="barmenu-item ui-state-default"><a href="{{ project.get_phases_url }}">{% trans 'Phases' %}</a></li>{% endblock %}
        {% endif %}
    {% endblock %}
</ul>
{% endblock %}

{% block content %}{% endblock %}
